$blue: #00ffff;
$white: #ffffff;

$width: 80px;

.spinner {
  font-family: Roboto, Helvetica, Arial, Sans-serif, Verdana, Tahoma;

  > * {
    box-sizing: border-box;
  }
}

.circle {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: $width;
  margin: 0 auto;

  &::before {
    display: block;
    padding-top: 100%;
    content: '';
  }
}

.circular {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  transform-origin: center center;
  animation: rotate 2s linear infinite;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -60px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -238px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $blue;
  }

  40% {
    stroke: $blue;
  }

  66% {
    stroke: $blue;
  }

  80%,
  90% {
    stroke: $blue;
  }
}

// percentage
.percentage {
  color: $white;

  .num {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }

  .percent {
    margin-left: 3px;
    font-size: 13px;
    font-weight: normal;
  }
}

// normal
.logo {
  width: 30px;
  height: 30px;
  background: url('../../assets/loading_30.svg') 0 0;
  animation: logo-spinner 1.6s steps(1, end) infinite;
}

@keyframes logo-spinner {
  0%,
  100% {
    background-position-y: 0;
  }

  12.5% {
    background-position-y: -30px;
  }

  25% {
    background-position-y: -60px;
  }

  37.5% {
    background-position-y: -90px;
  }

  50% {
    background-position-y: -120px;
  }

  62.5% {
    background-position-y: -150px;
  }

  75% {
    background-position-y: -180px;
  }

  87.5% {
    background-position-y: -210px;
  }
}
